#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#input:focus {
  border: 2px solid #ff9900;
  z-index: 10;
  outline: 0;
}

#input {
  width: 300px;
  height: 40px;
  margin-right: 20px;
}

.homeAction {
  display: flex; /* これで要素が横並びになる */
  align-items: center; /*要素を垂直方向の中央に揃える（任意） */
}

#overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 任意の行数を指定 */
}

li {
  list-style: none;
  width: 100%;
}

.card {
  margin-bottom: 20px;
  padding: 1px;
  display: flex;
  border-color: rgb(0, 0, 0);
}

#title {
  display: flex;
  font-size: 30px;
}

html {
  scroll-behavior: smooth;
}

#posting {
  padding-top: 100px;
  padding-bottom: 50px;
}
